@import "tailwindcss";

@theme{
    --color-primary: #1a1b26;
    --color-secondary: #16161e;
	--color-subcontrast: #6183bb;
	--color-contrast: #0db9d7;
	--color-symbols: #c05f25;

	--color-discord-blurple: #5865f2;
	--color-linkedin-blue: #007EBB;
}

li{
  list-style-type: none;
}

li:before{
	content: "-";
	padding-right: 5px;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #1e1e24;
}

::-webkit-scrollbar-thumb {
	background: #ff9e64;
}

.pixel {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

html{
	background-color: #1a1b26;
}